<!--
  **NOTE:** This is a template for index.html.
  It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment.
  htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles
  to this file. The generated bundles have hash-based filenames,
  so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/.
  For examples of using it with htmlWebpackPlugin,
  see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
  <!DOCTYPE html>
<html lang="en">
<head>
    <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
   -->
    <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
    <!-- END TRACKJS -->
    <% } %>
  <meta charset="UTF-8">
  <title>Black Bird Clothing</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
</head>
<body>

<header class="bird-box">
  <div class="back-bird"></div>
  <div class="logo"></div>
  <div class="fore-bird"></div>
</header>
  
<section class="content">
  <article>
    <h1>Clothing Store</h1>

    <hr>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem aliquid, fugit! Quod, quos. Tenetur dolores facere inventore magnam dolorem blanditiis et pariatur ex, officiis sit nemo iusto, laudantium, exercitationem doloribus excepturi veritatis laborum fugit. Dolor, sint! Aut ut voluptate quasi non reprehenderit aliquid recusandae, repudiandae? Soluta porro, in velit labore?</p>
  
    <hr>

    <div class="clothes-pics">
      <div class="row img-row">
        <figure class="columns four">
          <img src="/images/model1.jpg" alt="model">
          <figcaption>
            BlackBird Sweater - <strong>$135</strong>
          </figcaption>
        </figure>
        <figure class="columns four">
          <img src="/images/model2.jpg" alt="model">
          <figcaption>
            BlackBird Jacket - <strong>$135</strong>
          </figcaption>
        </figure>
        <figure class="columns four">
          <img src="/images/model3.jpg" alt="model">
          <figcaption>
            BlackBird Trousers - <strong>$135</strong>
          </figcaption>
        </figure>
      </div>
      <div class="row img-row">
        <figure class="columns four">
          <img src="/images/model1.jpg" alt="model">
          <figcaption>
            BlackBird Sweater - <strong>$135</strong>
          </figcaption>
        </figure>
        <figure class="columns four">
          <img src="/images/model2.jpg" alt="model">
          <figcaption>
            BlackBird Jacket - <strong>$135</strong>
          </figcaption>
        </figure>
        <figure class="columns four">
          <img src="/images/model3.jpg" alt="model">
          <figcaption>
            BlackBird Trousers - <strong>$135</strong>
          </figcaption>
        </figure>
      </div>
      <div class="row img-row">
        <figure class="columns four">
          <img src="/images/model1.jpg" alt="model">
          <figcaption>
            BlackBird Sweater - <strong>$135</strong>
          </figcaption>
        </figure>
        <figure class="columns four">
          <img src="/images/model2.jpg" alt="model">
          <figcaption>
            BlackBird Jacket - <strong>$135</strong>
          </figcaption>
        </figure>
        <figure class="columns four">
          <img src="/images/model3.jpg" alt="model">
          <figcaption>
            BlackBird Trousers - <strong>$135</strong>
          </figcaption>
        </figure>
      </div>
    </div>

    <br>

    <h1>Unique Style</h1>

    <hr>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, ea nesciunt, eveniet accusantium eos quisquam alias, praesentium similique itaque ut modi vel iste qui voluptas eius doloremque ducimus cumque architecto neque minima incidunt. Corporis reprehenderit molestiae laborum, eligendi corrupti rem saepe? Corporis cumque accusamus natus dolor voluptatum aliquam nisi! Et.</p>
  
    <hr>

    <div class="large-window">
      <div class="window-tint">
        <div class="promo-text">
          Fall Suits
          <strong><span>from</span> 99%</strong>
          <a href="" class="window-cta">Shop Now</a>
        </div>
      </div>
    </div>

    <h1>Rich History</h1>

    <hr>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, ea nesciunt, eveniet accusantium eos quisquam alias, praesentium similique itaque ut modi vel iste qui voluptas eius doloremque ducimus cumque architecto neque minima incidunt. Corporis reprehenderit molestiae laborum, eligendi corrupti rem saepe? Corporis cumque accusamus natus dolor voluptatum aliquam nisi! Et.</p>

    <hr>

    <div class="blog-posts row">
      <div class="post columns four post-1">
        <h5>Post Title</h5>
        <img src="/images/posts/one.jpg" alt="Post One Image">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat mollitia eligendi dolorem iusto distinctio non vel consectetur? Optio, quos temporibus! Soluta eveniet fugit, vero, veniam architecto natus magnam corporis est!</p>
        <a href="" class="button">Read More...</a>
      </div>
      <div class="post columns four post-2">
        <h5>Post Title</h5>
        <img src="/images/posts/two.jpg" alt="Post One Image">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat mollitia eligendi dolorem iusto distinctio non vel consectetur? Optio, quos temporibus! Soluta eveniet fugit, vero, veniam architecto natus magnam corporis est!</p>
        <a href="" class="button">Read More...</a>
      </div>
      <div class="post columns four post-3">
        <h5>Post Title</h5>
        <img src="/images/posts/three.jpg" alt="Post One Image">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat mollitia eligendi dolorem iusto distinctio non vel consectetur? Optio, quos temporibus! Soluta eveniet fugit, vero, veniam architecto natus magnam corporis est!</p>
        <a href="" class="button">Read More...</a>
      </div>
    </div>

  </article>
</section>

<footer>
  <div class="row footer-stuff">
    <div class="columns three">
      <strong>
        FIND US ON
      </strong>
      <ul>
        <li><a href="">Twitter</a></li>
        <li><a href="">Facebook</a></li>
        <li><a href="">Pinterest</a></li>
        <li><a href="">Instagram</a></li>
      </ul>
    </div>
    <div class="columns three">
      <strong>
        OTHER SHOPS
      </strong>
      <ul>
        <li><a href="">Red Robin</a></li>
        <li><a href="">Emerald Eagle</a></li>
        <li><a href="">Crimson Crane</a></li>
        <li><a href="">Auburn Abbot</a></li>
      </ul>
    </div>

    <div class="columns six">
      <p><strong>Sign Up for the newsletter:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat amet voluptate, architecto quam sequi modi fugit facilis est error temporibus. Ipsam beatae odio itaque fuga officia, rem voluptates reprehenderit explicabo!</p>
      <form action="" class="row">
        <div class="columns eight">
          <input class="u-full-width" type="email" placeholder="Your Email">
          <input class="button-primary" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</footer>


</body>
</html>
